/* Styles for the extension slide out menu */

.slap-menu {
    top: 0;
    width: 300px;
    right: -330px;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: $body-bg;
    overflow: hidden;
    text-align: left;
    @include transition(all 0.3s);
    @include box-shadow(-4px 0px 18px 1px rgba(0,0,0,0.75));

    .menu-content {
      width: 100%;
      padding: 0 10px;
    }
}

.slap-menu.open {
    right: 0
}
