
<h2>Chat</h2>

<form>
  <input placeholder="Message..." ng-model="newMessage">
  <input placeholder="User Name" ng-model="name">
  <input placeholder="Selector" ng-model="selector">
  <button type="submit" ng-click="addMessage(newMessage, selector, name);newMessage = null;name = null;selector = null;">Send</button>
</form>

 <ul id="messages"> 
  <!-- <li ng-repeat="message in messages | reverse">{{message.name}} says: {{message.text}} <a href="" ng-click="removeMessage({message: message})"> x </a></li> -->

  <!-- <li ng-repeat="(selector, messages) in selectors">
  	<!--{{selector}} //
  	
	<ul>
		<li ng-repeat="message in messages"> 
		<!-- <li ng-repeat="selector.message for (selector, messages) in selectors"> -->
			<!-- {{message.name}} // 
			{{ {selected_selector:selector} }}        {{selector}}<a href="" ng-click="removeMessage({message: message})"> x </a>

		</li>
	</ul>
 </li>  --> 

 </ul>

 View chat: 
   <select ng-model="selector" ng-options="selector for (selector, messages) in selectors"> </select>
   
   <div> Selected selector message: {{selector}} </div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
