<div class="slap-menu" ng-class="{open:open}">
	<div>
		<a href="" ng-click="close()">Close</a>
	</div>
	<nav>
	    <ul>
	        <li ng-repeat="item in availableSlaps">
	        	<a href="" ng-class="{selected:item == selectedSlap}" ng-click="select(item)">{{item.name}}</a>
				<a href="" ng-if="item.owner == slap.user.email" ng-click="remove(item)">(x) Remove</a>
	        	<div ng-if="item == selectedSlap">
	        		<ul>
	        			<li ng-repeat="page in item.pages">
	        				<a href="{{page.href}}">{{page.title}}</a>
	        			</li>
	        		</ul>
	        	</div>
	        </li>
	    </ul>
	</nav>
	<div class="slap-create">
		<a href="" ng-click="create()">
			Create New Slap
		</a>
	</div>
	<slap-overlay selected-slap="selectedSlap" on-change="$parent.save">
	</slap-overlay>
</div>
