<div class="slap-create modal" ng-class="{open:visible}">
	<h3>Create a New Slap</h3>
    <form>
    	<div class="slap-field">
    		<label for="slapName">Slap Name</label>
    		<div>
    			<input type="text" name="slapName" id="slapName" ng-model="slap.name" />
    		</div>
    	</div>
    	<div class="slap-field">
    		<label for="slapOwner">Slap Owner</label>
    		<div>
    			<input type="text" name="slapOwner" id="slapOwner" ng-model="slap.owner" />
    		</div>
    	</div>
    </form>
    <hr>
    <div>
    	<a href="" ng-click="cancel()">Cancel</a>
    	<a href="" class="slap-button" ng-click="save()">Save</a>
    </div>
</div>